<!-- Navigation: Search, Add, Clock-->
<div id="searchBarContainer">

</div>


<!-- Dropdown MenuL: Navigation, Pinned Tags -->
<div id="menuContainer">

</div>


<!-- Page Content -->
<div id="mainContainer">

</div>





<!-- Footer -->
<div id="footerContainer">

</div>

<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>