<!-- Navigation -->
<div id="sideBarContainer">

</div>





<!-- Page Content -->
<div id="mainContainer">

</div>





<!-- Footer -->
<div id="footContainer">

</div>

<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>