<!--#Formatting wise, using ROOT as the parent directory wont work. the layoutting will still need to be done at this level using html and tailwind -->
<div class="container">Look over here!</div>
<div class = "container" id="root"></div>
<div class="container">And Im over here!</div>

<%= javascript_pack_tag 'home' %>