<!-- Navigation: Search, Add, Clock-->
<div>
  <div id="searchBarContainer" class="container">
  </div>
</div>

<!-- Begins 2 Column Layout -->
<div class="flex flex-row">

  <div id="menuContainer" class="container">
  </div>
<!-- Dropdown MenuL: Navigation, Pinned Tags -->


<!-- Page Content -->
  <div id="mainContainer" class="container shink">
  </div>
</div>





<!-- Footer -->
<div id="footerContainer" class="container">

</div>

<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>